APP_ENV=local

DB_HOST=postgres
DB_PORT=5432
DB_NAME=banking
DB_USER=debezium
DB_PASSWORD=debezium_password
DB_SSLMODE=disable

CDC_TABLES=public.customers,public.accounts,public.merchants,public.transactions
CONNECTOR_NAME=banking-cdc
TOPIC_PREFIX=banking
SNAPSHOT_MODE=initial

POSTGRES_ADMIN_USER=bank_admin
POSTGRES_ADMIN_PASSWORD=bank_admin_password
POSTGRES_PUBLICATION_NAME=banking_publication
POSTGRES_SLOT_NAME=banking_debezium_slot

CONNECT_REST_URL=http://localhost:8083
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_EXTERNAL_PORT=9092
CONNECT_EXTERNAL_PORT=8083
KAFKA_UI_PORT=8080

GENERATOR_ENABLED=true
SEED_ENABLED=true
CUSTOMER_COUNT=1000
MERCHANT_COUNT=200
TRANSACTIONS_PER_SECOND=5
FAILURE_RATE=0.03
